*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.logo{
    height: 65px;
    width: 65px;
}

.header{
    padding: 6px 20px;
    display: flex;
    background-color: rgb(25, 24, 24);
    justify-content: space-between;
}

.logo-name{
    display: flex;
}

.logo-name h1{
    margin-top: 11px;
    font-family: 'Engravers MT', Tahoma, Geneva, Verdana, sans-serif;
    color: limegreen;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    margin: 0 14px;
    font-size: large;
    color: limegreen;
}

.navbar a:hover{
    color: white;
}

.top{
    height:450px;
    width: 100%;
}
.box{
    height: 200px;
    width: 300px;
    text-align: left;
    position: absolute;
    top: 170px;
    left: 100px;
}
.box h2{
    color:darkblue;
    font-size:40px;
    text-shadow: 4px 4px 1px cyan;
    font-family: Matura MT Script Capitals, Geneva, Tahoma, sans-serif;
}
.box h1{
    color:darkblue;
    font-size:95px;
    text-shadow: 7px 7px 2px cyan;
    font-family: Matura MT Script Capitals, Geneva, Tahoma, sans-serif;
}

.ani-box{
    background-color: aquamarine;
    padding: 4px 0;
}
.ani-box1{
    background-color: aquamarine;
    padding: 4px 0;
    text-align: center;
}

.ani-box1 h3{
    color: firebrick;
    font-size: x-large;
}
.ani-box h3{
    color: firebrick;
    font-size: x-large;
}
@keyframes left-right {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}

.ramaiah-logo{
    height: 120px;
    width: 100px;
    margin: 5px 20px;
}
.card{
    display: flex;
    border: none;
    border-width: 3px;
    box-shadow: 6px 6px 6px 5px grey;
    width: 470px;
    padding: 25px;
    margin: 30px auto;
    background-color: white;
}

.box-four{
    text-align: center;
    padding: 60px;
}
.box-four h2{
    color: darkblue;
    font-family:'Copperplate Gothic Light', 'Arial Narrow', Arial, sans-serif;
}

.syllabus-block{
    border: none;
    border-radius: 10px;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 40px auto 25px auto;
}

.book{
    height: 250px;
    width: 180px;
    margin: 20px 50px 20px 50px;
}

.five-box{
    border: none;
    padding: 50px;
    /*background-color: black;*/
    color: white;
}

.five-box h2{
    font-size:40px;
    font-family: Copperplate Gothic Light, Geneva, Tahoma, sans-serif;
    text-align: center;
}

span{
    color: black;
}

.six-box{
    padding: 30px;
}
.six-box h2{
    text-align: left;
    padding-top: 35px;
    text-align: center;
    font-size:40px;
    font-family: Copperplate Gothic Light, Geneva, Tahoma, sans-serif;
}

.fifth-sem{
    display: block;
    margin:  36px auto;
    width: 600px;
    border: none;
    border-radius: 25px;
    padding: 20px;
    background-color: midnightblue;
    box-shadow: 9px 9px 2px lightslategrey;
}

.signalandcontrol,.powerandipr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3px solid cyan;
    border-radius: 10px;
}
#SandC{
    margin: 20px 0;
}
.waste{
    color: midnightblue;
    padding: 6px;
}

.subject{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 72px;
}

.subject1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 74px;
}
.subject2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 31px;
}

.fifthsem-heading,.sixthsem-heading{
    text-align: left;
    margin-left: 5px;
    font-size: x-large;
    font-family: Rockwell, Geneva, Tahoma, sans-serif;
    color: rgb(255, 234, 0);
}

.use{
    padding: 6px;
    text-decoration: none;
    color: lightcyan;
}
.use:hover{
    color: hotpink;
}
.subname{
    color: yellow;
    margin-bottom: 5px;
}

.dspandpse{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}
.subject4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 38px;
}
.subject5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 67px;
}

.sixth-sem{
    display: block;
    margin:  36px auto;
    width: 600px;
    border: none;
    border-radius: 25px;
    padding: 20px;
    background-color: midnightblue;
    box-shadow: 9px 9px 2px lightslategrey;
}

.dspandpse{
    padding: 10px;
    border: 3px solid cyan;
    border-radius: 10px;
}

#prajayimg{
    height: 80px;
    width: 80px;
    margin: 8px 15px 0 0;
}

.footer{
    background-color: rgb(35, 37, 37);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.contactblock p{
    padding: 10px 0 5px 0;
}

.logo1{
    height: 30px;
    width: 30px;
    padding: 10px;
}

.bio{
    display: flex;
}

#name{
    margin-bottom: 5px;
}